<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850762385412-thq3j5h6v19n4acigf29bburqh7qrjk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850762385412-thq3j5h6v19n4acigf29bburqh7qrjk4</string>
	<key>API_KEY</key>
	<string>AIzaSyD5v4R6zHB2vfQ0WX0rlI16TQEpfCfWSnk</string>
	<key>GCM_SENDER_ID</key>
	<string>850762385412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushNotification</string>
	<key>PROJECT_ID</key>
	<string>push-notification-45587</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notification-45587.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850762385412:ios:8fd339b6ad82149a140d51</string>
</dict>
</plist>